<mat-card
  class="group h-full rounded-2xl overflow-hidden bg-[var(--mat-sys-surface-container)] border border-[var(--mat-sys-outline-variant)] shadow-sm hover:shadow-lg transition-all duration-300"
>
  <!-- Header -->
  <mat-card-header class="pb-2">
    <div
      mat-card-avatar
      class="flex items-center justify-center rounded-xl bg-[var(--mat-sys-primary-container)] text-[var(--mat-sys-on-primary-container)]"
    >
      <mat-icon>map</mat-icon>
    </div>

    <mat-card-title class="text-lg font-semibold">
      {{ trip.title }}
    </mat-card-title>

    <mat-card-subtitle
      class="flex items-center gap-1 text-[var(--mat-sys-on-surface-variant)]"
    >
      <mat-icon class="text-sm">location_on</mat-icon>
      {{ trip.destination }}
    </mat-card-subtitle>
  </mat-card-header>

  <!-- Content -->
  <mat-card-content class="pt-2 h-full flex flex-col justify-between gap-1">
    <div class="flex items-center gap-2 text-sm mt-auto">
      <mat-icon class="text-[var(--mat-sys-primary)] text-sm">
        calendar_today
      </mat-icon>

      <span>
        {{ trip.startDate | date: 'mediumDate' }}
      </span>

      <span class="text-[var(--mat-sys-outline)]">→</span>

      <span>
        {{ trip.endDate | date: 'mediumDate' }}
      </span>
    </div>

    <!-- Badge -->
    <div>
      <span
        class="inline-flex px-3 py-1 text-xs rounded-full bg-[var(--mat-sys-secondary-container)] text-[var(--mat-sys-on-secondary-container)]"
      >
        Planned
      </span>
    </div>
  </mat-card-content>

  <!-- Action -->
  <div class="px-4 py-2 opacity-0 group-hover:opacity-100 transition mt-auto">
    <button
      mat-stroked-button
      color="primary"
      class="w-full rounded-xl mt-auto"
      (click)="navigateTo(trip.id!)"
    >
      View Details
    </button>
  </div>
</mat-card>
