@use './material-theme.scss' as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

.snack-success .mdc-snackbar__surface {
  background-color: #16a34a !important;
  color: white !important;
}

.snack-error .mdc-snackbar__surface {
  background-color: #dc2626 !important;
  color: white !important;
}
